body
{
    background: url(../images/neuralnetwork.jpg);
    background-repeat: repeat-y;
}
.container
{
	background-color: white
}
.homebutton
{
	height:200px;
    width:200px;
}

.aboutbutton 
{
	
}

.jumbotron
{
	margin-bottom: 0;
	padding: 6em; 
	background-image: url("../images/banner3.jpg");
	
}

.col-center-block 
{
    float: none;
    display: block;
    margin: 0 auto;
}

.profilePic{
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.navbar-brand{
	margin-top: -10px;
}

.nav{
	padding-left:95px;
}

.well + .well:hover { background: #123456; }





















